@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .type::after {
        content: '';
        border-right: 2px solid #fff;
        display: inline;
        animation: cursor 0.7s step-end infinite alternate;
    }
    @keyframes cursor {
        50% {border-color: transparent;}
    }
    .menuContainer {
        width: calc(100% - 1280px);
    }
    .fluid-title {
        font-size: clamp(2.25rem, 0.9167rem + 3.3333vi, 3.5rem) !important;
    }
    .fluid-pr {
        font-size: clamp(1rem, 0.7333rem + 0.6667vi, 1.25rem) !important;
    }
    .fluid-secondary {
        font-size: clamp(0.875rem, 0.788rem + 0.4348vi, 1.125rem) !important;
    }
    .fluid-sub {
        font-size: clamp(2rem, 1.9457rem + 0.2717vi, 2.1563rem) !important;
    }
    .quotes {
        @apply relative z-20
    }
    /* .backDropBlurMenu::after {
        content: '';
        position: absolute;
        width: 100vw;
        backdrop-filter: blur(20px);
        z-index: 30;
        height: 100vh;
        mask: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        -webkit-mask: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,1) 5%, rgba(0,0,0,0) 20%);;
    } */
    .chemphase {
        filter: drop-shadow(0px 0px 3px #008cff5b);
    }
    .chemphase[data-toChange='true'] {
        @apply w-8 scale-[2.7] 
    }

    .bgTransition {
        transition-property: background-color;
    }
    .bgOverlay {
        @apply absolute top-0 left-0 w-full h-full content-[''] 
    }
    .earthGradient {
        @apply bg-gradient-to-r from-[#17171B]/0 to-[#17171B]/[83%] from-[17%] to-[67%]
    }
    .earthGradientTop {
        @apply bg-gradient-to-t from-[#17171B]/0 to-[#17171B]/[83%] from-[17%] to-[67%]
    }
    .bigBoxGradient {
        @apply bg-gradient-to-b from-[#17171B] to-[#17171B]/[0] to-[1000%] from-[27%]
    }
    .triviaBg::after {
        background-image: url('./assets/volcano.png');
        content: '';
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
    }
    .blueHero {
        @apply bg-black/50
    }
    .waterCardBlue {
        @apply after:bg-gradient-to-b after:from-[#096C73] after:to-[#096C73]/5
    }
    .waterCardOrange {
        @apply after:bg-gradient-to-b after:from-[#833902] after:to-[#096C73]/5
    }
    .video {
        /* @apply absolute top-0 left-0 w-full h-full */
        @apply aspect-video w-full overflow-hidden
    }
    .sectionOverlayRight {
        @apply bg-gradient-to-r to-[#17171B]/0 from-[#17171B]/[97%] to-[190%] from-[30%]
    }
    .sectionOverlayTop {
        @apply bg-gradient-to-t to-[#17171B]/0 from-[#17171B]/[97%] to-[190%] from-[30%]
    }
    .sectionOverlayLeft {
        @apply bg-gradient-to-l to-[#17171B]/0 from-[#17171B]/[97%] to-[190%] from-[30%]
    }
    .fluid-modal {
        font-size: clamp(1.125rem, 0.9076rem + 1.087vi, 1.75rem) !important;
    }
    .fluid-pr2 {
        font-size:  clamp(1.25rem, 1.163rem + 0.4348vi, 1.5rem) !important;
    }
    .fluid-title-xl {
        font-size: clamp(3.5rem, 2.6304rem + 4.3478vi, 6rem) !important;
    }
    .phaseCard {
        @apply bg-gradient-to-br from-[#00548B] to-[#E36305]/[50%]
    }
    .border-subtle {
        @apply shadow-[0px_4px_18px_rgb(0_0_0_/_4%),0px_2.025px_7.84688px_rgba(0,0,0,.027),0px_0.8px_2.925px_rgb(0_0_0_/_2%),0px_0.175px_1.04062px_rgba(0,0,0,.013)]
    }
    body {
        min-width: 320px;
    }
    .scrollable::-webkit-scrollbar {
        display: none;
    }

 
}
